.bannerpro{
  background-color: #fff8f8;
    height: 626px;

}

.bannerword{
    width: 430px;
}
.bannerword h1{
font-size: 40px; 
font-weight: 600;
line-height: 48px;
color:#3B3B3B;
margin-bottom: 24px;

}

.bannerword p{
    font-size: 20px;

    color:#5B5B5B;
    line-height: 30px;
padding-bottom: 8px;
}

.bannerword .english{
    font-size: 16px;
    color: #C1C1C1;
}

.bannerword ul{
    display: flex;
   padding-top: 60px;
    gap: 16px;

}

.banner-sm{
    display: none;
}




.banner-lg{


width: 60%;
}

.bannerprobox{
    display: flex;
align-items: center;
justify-content: flex-end;
/* gap: 24px; */

}

@media(max-width:767px){

    .banner-lg{
        display: none;
    }

    .banner-sm{
        display: block;
        width: 100%;
     
    }

    .bannerprobox{
        display: flex;
        flex-direction: column-reverse;
     position: relative;
  
    }

 
}





